<html>
    <head>
        <title>Members Only</title>
        <link rel='stylesheet' href='/css/index.css' type='text/css' />
    </head>
    <div class='loginForm'>
        <form method='POST' action='/login'>
            <label for='username'>Username</label>
            <input type='text' placeholder='username' name='username' required />
            <label for='password'>Password</label>
            <input type='password' placeholder='password' name='password' required />
            <button>Submit</button>
        </form>
    </div>
</html>