<html>
    <head>
        <link rel='stylesheet' href='/css/index.css' type='text/css' />
    </head>
    <body>
        <div class='signUpForm'>
            <form method='POST' action=''>
                <label for='first_name'>First Name</label>
                <input type='text' placeholder='First Name' name='first_name' required />
                <label for='last_name'>Last Name</label>
                <input type='text' placeholder='Last Name' name='last_name' required />
                <label for='username'>Username</label>
                <input type='text' placeholder='username' name='username' required />
                <label for='password'>Password</label>
                <input type='password' placeholder='password' name='password' required />
                <button>Submit</button>
            </form>
        </div>
    </body>
</html>